.container {
  max-width: 1240px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.header__inner {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 140px;
}

.logo {
  margin-bottom: 35px;
}

.menu__list {
  display: flex;
  align-items: center;
  gap: 0 65px;
  font-weight: 400;
  font-size: 18px;
  margin-left: 85px;
}

.menu__button {
  display: none;
  width: 40px;
  height: 20px;
  flex-direction: column;
  justify-content: space-between;
}

.menu__button span {
  background-color: black;
  height: 2px;
  width: 100%;
}

.user_actions {
  display: flex;
  align-items: center;
  gap: 0 20px;
}

.user_actions__item_search {
  margin-left: 80px;
}

@media (max-width: 1000px) {
  .user_actions__item_search {
    margin-left: 30px;
  }
  .menu {
    margin-right: auto;
  }
  .menu__list {
    margin-left: 60px;
  }
  .logo {
    margin-bottom: 0;
  }
  .header__inner {
    min-height: auto;
  }
}
@media (max-width: 860px) {
  .menu__list {
    display: none;
  }
  .menu__button {
    display: flex;
    margin-right: 0;
  }
  .menu {
    order: -1;
  }
  .logo {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 768px) {
  .header__inner {
    padding-left: 64px;
    padding-right: 64px;
  }
  .logo {
    margin-left: auto;
    margin-right: 154px;
  }
}
@media (max-width: 680px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .header__inner {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 480px) {
  .logo {
    margin-right: 80px;
  }
  .logo img {
    width: 40px;
  }
}
@media (max-width: 360px) {
  .logo {
    margin-right: 50px;
  }
  .user_actions__item_search {
    margin-left: 0;
  }
  .header__inner {
    padding: 10px 0;
  }
}
